.options {
    position: absolute;
    width: 400px;
    top: 0;
    right: 0;
    padding: 10px 10px 0 10px;
    background: #18191A;
}

.header {
    font-weight: bold;
    font-size: 14px;
}

.header.main {
    font-size: 16px;
}

.key_pos_label {
    margin-left: 6px;
}

.options button, .below_launchpad button {
    font-size: 80%;
    background: #2B2D30;
    border: none;
    color: #5b5f62;
    width: 95px;
    height: 24px;
    border-radius: 2px;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.options button:active, .below_launchpad button:active {
    position: relative;
    top: 1px;
}

.options > div {
    position: relative;
}

.abs-right {
    position: absolute;
    right: 0;
}

.title {
    width: 80px;
    float: left;
    display: block;
}

.options input[type="text"] {
    background: #18191A;
    border: 1px solid #555;
    border-radius: 2px;
    height: 20px;
    width: 200px;
    text-indent: 3px;
}

.save_buttons {
    height: 30px;
    margin: 10px;
}

#save_settings {
    background: #24B24B;
    color: #DDD;
}

.expandable {
    background: #25272a;
    padding: 4px 4px 4px 10px;
    cursor: pointer;
    margin-bottom: 8px;
}

.check_mark {
    margin-left: 1px;
    display: none;
}

.check_mark img {
    position: absolute;
    height: 20px;
    top: 4px;
}

.clear_opt {
    color: #5b5f62;
    position: absolute;
    right: 4px;
    top: 3px;
    font-size: 10px;
    padding: 0 7px;
    font-style: italic;
    border: 1px solid #484848;
    border-radius: 2px;
}

.clear_opt:active {
    top: 4px;
}

.options > div:first-child {
    margin-bottom: 25px;
}

#key_description {
    margin-bottom: 5px;
    font-size: 16px;
    height: 25px;
    width: 250px;
}

.content {
    border: 1px solid transparent;
    display: none;
}

.color_select div {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 10px;
    border: 2px solid #18191A;
    border-radius: 20px;
    cursor: pointer;
}

.color_select div.selected {
    width: 26px;
    height: 26px;
    margin-right: 0;
    position: relative;
    right: 5px;
    bottom: 5px;
    border: 2px solid #000;
}

.color_select .OFF {
    background: #EEE;
}

.color_select .LOW_RED {
    background: #F26C6A;
}

.color_select .RED {
    background: #ED2324;
}

.color_select .LOW_AMBER {
    background: #E8CE5D;
}

.color_select .AMBER {
    background: #FEBF0F;
}

.color_select .LOW_GREEN {
    background: #AED691;
}

.color_select .GREEN {
    background: #69BD45;
}

.color_select span {
    position: relative;
    top: -4px;
}

.color_select .OFF img {
    height: 15px;
    position: relative;
    top: 1px;
}

.color_select .OFF img.selected {
    height: 23px;
    position: relative;
    top: 2px;
    left: 1px;
}

.content > div {
    display: flex;
    margin: 10px;
}

.content > div > div {
    display: flex;
}

.content > div:last-child {
    margin-bottom: 20px;
}

.clear {
    clear: both;
    display: block;
}

.subtext {
    font-size: 75%;
    font-style: italic;
    position: relative;
    top: 2px;
}

input[type="radio"] {
    display: none;
}

label {
    display: inline-block;
    text-align: center;
    background: #18191A;
    color: #555;
    font-weight: bold;
    border: 1px solid #555;
    border-radius: 2px;
    width: 65px;
    height: 20px;
    padding-top: 2px;
    cursor: pointer;
    margin-right: 3px;
}

label.wide {
    width: 80px;
}

input:checked + label, .below_launchpad button {
    background: #EC5d0F;
    color: #DDD;
}

.align-right {
    width: 95%;
    text-align: right;
}

.small {
    font-size: 75%;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}

#volume_slider_container {
    width: 150px;
    position: relative;
    margin: 5px 15px 0 0;
}

#volume_slider {
    margin: 0 auto 0 auto;
    height: 10px;
    width: 150px;
    background: url('../images/volume-empty.png') no-repeat left top;
    background-size: 150px 10px;
    border: none;
    outline: none;
}

#volume_slider .ui-slider-range-min {
    height: 10px;
    width: 150px;
    position: absolute;
    background: url('../images/volume-full.png') no-repeat left top;
    background-size: 150px 10px;
    border: none;
    outline: none;
}

#volume_slider .ui-slider-handle {
    width: 25px;
    height: 25px;
    background: url('../images/volume-knob.png') no-repeat left top;
    background-size: 25px 25px;
    position: absolute;
    top: -4px;
    margin-left: -10px;
    cursor: pointer;
    outline: none;
    border: none;
}

.clr_options {
    display: none;
}

#clr_css_wrapper {
    width: 285px;
    height: 110px;
    border: 1px solid #555;
    border-radius: 2px;
    position: relative;
}

#clr_css {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.color .content > div:last-child {
    margin-bottom: 5px;
}

input[type="text"].num_input {
    width: 52px;
}

#browse, #clr_browse {
    margin-left: 5px;
    width: 80px;
}

.clr_options select {
    background: #18191A;
    border: 1px solid #555;
    border-radius: 2px;
    height: 24px;
    width: 160px;
    color: #DDD;
    -webkit-appearance: none;
}

.middle {
    margin: 0 5px 0 5px;
}

#clr_pos {
    width: 110px;
}
