body {
    display: none;
    width: 1920px;
    height: 1080px;
}

div {
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}

div > div {
    position: relative;
    background: red;
    width: 500px;
    height: 500px;
}

div > div img {
    width: 100%;
}
