body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img_div {
    width: 100%;
}

img {
    width: 100%;
    visibility: hidden;
}

.top {
    align-items: flex-start;
}

.bottom {
    align-items: flex-end;
}

.left {
    justify-content: flex-start;
}

.right {
    justify-content: flex-end;
}
